
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --color-primary: #006241;   
    --color-secondary: #ff0000;
    --color-extra: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #000000;
}

a {
    color: #00000;
}

ul {
    list-style : none;
}

p {
    margin: 5px 0;
    line-height : 1.7;
}

img {
    max-width:100%;
}

section a {
    color: #ffffff;
}

.navbar {
    width: 100%;
    height: auto;
    background-color : #ffffff;
    padding: 20px;
    box-shadow : 0 1px 3px rgb(0 0 0 / 10%),
        0 2px 2px rgb(0 0 0 / 6%),
        0 0 2px rgb(0 0 0 / 7%);    
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-nav-rigth img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.navbar-nav-rigth li:first-child a { 
    display: flex;
    align-items: center;

}

.navbar-nav-rigth li:nth-child(2) {
    margin: 0 5px;
}

.navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width : 1440px;
    margin :0 auto;
}

.navbar ul {
    display:flex;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
    font-weight: bold;
}

.navbar a {
    color: #000000;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--color-primary);
}

.navbar-nav-left {
    text-transform: uppercase;
    flex:1;
    margin-left: 20px;
}

/*Footer and Social*/

.footer-container {
    width : 100%;
    max-width : 1440px;
    margin: 0 auto;
    padding: 0 30px 30px;
}

.social img {
     width : 40px;
     height : 40px;
}

.social a { 
    text-decoration : none;
    margin-right : 20px;
}

.divider  {
    width: 95%;
    height : 1px;
    margin: 40px auto;
}

.social {
     display : flex;
}


.box {
    margin-bottom: 30px;
}

.box-inner {
     max-width: 700px;
     margin : 0 auto;
}

.box-text {
    max-width: 500px;
    text-align: center;
    justify-self : center;
    padding: 20px;
    margin : 0 auto;
}

.box-text .btn {
    margin-top : 20px;
}

.box-f .box-text {
     max-width : 600px;

}


/*Grids*/
.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.grid-reversed :first-child {
    order:2;
}
/*buttons*/
.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.Sign-in-button {               /*White background button*/
    border-color: #000000;
    color: #000000;
}
.Sign-in-button:hover {
    background-color: rgba(0,0,0,0.07);
}

.Join-button {                   /*Black background button*/
    background-color: #000000;
    color: #ffffff;
}

.Join-button:hover {
    background-color: #333;
}

.Order-Now-button {              /*buttons with white backgroud*/
    border-color: #fff;
    color: #fff;
}

.Order-Now-button:hover {
    background-color : rgba(0 ,0 ,0 ,0.07);
}

/*BACKGROUND*/
.bg-primary {
    background-color: var(--color-primary);
    color: #ffffff;
}

.bg-secondary {
    background-color: var(--color-secondary);
    color: #ffffff;
}

.bg-extra {
    background-color: var(--color-extra);
    color: #000000;
}

.bg-dark {
    background-color: var(--color-dark);
    color: #000000;
}

/*text styl*/
.text-center {
    text-align:center;
}

.text-xl {
    font-size: 50px;
    text-transform : uppercase;
    letter-spacing : 6px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text-lg {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-md {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-sm {
    font-size:19px;
    margin-bottom: 20px;
}

/*Padding*/
.py-sm {
    padding: 10px 0;
}

.py-md {
    padding: 20px 0;
}

.py-lg {
    padding: 40px 0;
}


/*hamburger*/
.hamburger {
    cursor : pointer;
    width: 24px;
    height: 24px;
    position : relative;
    background : none;
    z-index : 10;
    transition : all 0.25s;
    display : none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
        position : absolute;
        top:0;
        left : 0;
        width: 24px;
        height : 2px;
        background : #000000;
        transform : rotate(0);
        transition : all 0.5s;
}
.hamburger-middle {
    transform : translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open .hamburger-top {   
    transform : rotate(45deg) translateY(6px) translateX(6px);
 }

.open .hamburger-middle {
    display:none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}


/*Mobile Menu*/
.mobile-menu {
    position : fixed;
    top: 85px;
    right: 0;
    background-color : #ffffff;
    color : #000000;
    width : 90%;
    height : 100%;
    padding : 30px;
    box-shadow : inset 0 4px 3px -3px rgb(0 0 0 / 10%),
        inset 0 4px 2px -2px rgb(0 0 0 / 7%);
    transition : all 0.3s;
}

.mobile-menu img {
    width:20px;
    height :20pix;
    margin-right : 10px;
}

.mobile-menu ul { 
    line-height : 3; 
    border-bottom : #777 solid 1px;
    padding-bottom : 10px;
    margin-bottom : 30px;
}

.mobile-menu a {
    text-decoration  : none;
    font-size : 20px;
}

.mobile-menu a : hover {
     color : var(--color-primary);

}

.mobile-menu div {
    margin-top : 20px;
}

.mobile-menu div a {
    display : flex; 
    align-items : center ;
    font-size : 16px;
}

.hidden {
    transform : translateY(100%);
}

.no-scroll {
    overflow : hidden;
}


@media(max-width: 960px) {
    .text-xl {
         font-size: 25px;   
    }

    .text-lg {
        font-size : 25px;
    }

    .text-md {
        font-size: 19px;
    }
}

@media(max-width: 768px) {

    .hamburger {
         display : block;
    }

    .grid-col-2 {
        grid-template-columns: 1fr;
    } 
    
    .grid-reversed :first-child {
        order : 0;
    }

    .navbar-brand img {
        width : 40px;
        height : 40px;
    }

    .footer {
        text-align : center;
    }

    .navbar .navbar-nav-left, 
    .navbar .navbar-nav-rigth {
        display : none;
    }

}

@media(min-width: 1440px) {
    .box {
        max-width : 1440px;
        margin-right : auto;
        margin-left : auto;
    }

    .divider {
         max-width : 90%;
    }
}
